{% extends 'base_inicio.html' %}
{% load staticfiles %}
{% block content %}


			<!-- PAGE TOP -->
								<hr class="half-margins invisible" />
			<!-- /PAGE TOP -->



<div id="gmap"></div>
<script type="text/javascript">
	var	$googlemap_latitude 	= -0.213217,
		$googlemap_longitude	= -78.411298,
		$googlemap_zoom			= 13;
</script>


<!-- CONTENT -->
<section>
	<div class="container">

		<div class="row">

			<!-- FORM 
			<div class="col-md-8">

				<h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>

				Alert 
				<div id="_sent_ok_" class="alert alert-success fade in fsize16 hide">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<span id="_msg_txt_"><strong>Thank You!</strong> Your message successfully sent!</span>
				</div> /Alert 

				<form id="contactForm" action="{% url 'main:contacto' %}" method="post">
					<div class="row">
						<div class="form-group">
							<div class="col-md-6">
								<label>Nombre Completo *</label>
								<input required type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="contact_name" id="contact_name">
							</div>
							<div class="col-md-6">
								<label>E-mail *</label>
								<input required type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="contact_email" id="contact_email">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-md-12">
								<label>Mensaje *</label>
								<textarea required maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="contact_comment" id="contact_comment"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<input type="submit" value="Enviar Mensaje" class="btn btn-primary btn-lg" id="contact_submit" />
						</div>
					</div>
				</form>

			<hr>
			</div>
			/FORM -->

			<div class="col-md-8">
			<form id="contactForm" action="{% url 'main:contacto' %}" method="post">
			{% csrf_token %}
			{{form_contacto.non_field_errors}}
			<div class="col-md-6">
				<div class = "form-group">
				 	{{form_contacto.nombre_completo.label_tag}}
					{{form_contacto.nombre_completo}}
					{{form_contacto.nombre_completo.errors}}
				</div>
			</div>
			<div class = "col-md-6">
				<div class = "form-group">
				<label> Email </label>
					{{form_contacto.email}}
					{{form_contacto.email.errors}}
				</div>
			</div>
			<div class = "col-md-12">
				<div class = "form-group">
					<label> Mensaje </label>
					{{form_contacto.mensaje}}
					{{form_contacto.mensaje.errors}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<input type="submit" value="Enviar Mensaje" class="btn btn-primary btn-lg" id="contact_submit" />
				</div>
			</div>
			</form>
			</div>

			<div class="col-md-4">

			<!-- INFO 
			{% if lista_ejemplo.0 %}
				<h3> {{lista_ejemplo.1|lower}} </h3>
			{% endif %}

			{% for k, v in lista_ejemplo.2.iteritems %}
				<p> <strong> {{k}} </strong> {{v}} </p>
			{% endfor %}

				<h2>Visit Us</h2>

				<p>
					Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.
				</p>

				<div class="divider half-margins"></div>

				<p>
					<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> Street Name, City Name, Country</span>
					<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:1800-555-1234">1800-555-1234</a></span>
					<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:mail@yourdomain.com">mail@yourdomain.com</a></span>
				</p>

				<div class="divider half-margins"></div>

				<h4 class="font300">Business Hours</h4>
				<p>
					<span class="block"><strong>Monday - Friday:</strong> 10am to 6pm</span>
					<span class="block"><strong>Saturday:</strong> 10am to 2pm</span>
					<span class="block"><strong>Sunday:</strong> Closed</span>
				</p>
			 /INFO -->

			</div>

		</div>

	</div>
</section>
<!-- /CONTENT -->

{% endblock content %}