{% extends 'base_inicio.html' %}
{% block content %}
{% load staticfiles %}


	<!-- PAGE TOP -->
	<hr class="half-margins invisible" />
	<!-- /PAGE TOP -->

			<!-- POPULAR -->
			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-10">
							<!-- More News -->
							<h4>Efectos tipo <strong>Buenos</strong></h4>
							<div class="row">

								<div class="col-sm-4 col-md-4">
									<div class="thumbnail">
										<img class="img-responsive" src="{% static 'assets/images/demo/other/thumb_o3.jpg' %}" alt="" />
										<div class="caption">
											<h4>Lorem Ipsum Dolor Sit...</h4>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
											<p><a href="page-article.html" class="btn btn-default btn-sm" role="button">Read More</a></p>
										</div>
									</div>
								</div>

								<div class="col-sm-4 col-md-4">
									<div class="thumbnail">
										<img class="img-responsive" src="{% static 'assets/images/demo/other/thumb_o4.jpg' %}" alt="" />
										<div class="caption">
											<h4>Lorem Ipsum Dolor Sit...</h4>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
											<p><a href="page-article.html" class="btn btn-default btn-sm" role="button">Read More</a></p>
										</div>
									</div>
								</div>

							
								<div class="col-sm-4 col-md-4">
									<div class="thumbnail">
										<img class="img-responsive" src="{% static 'assets/images/demo/other/thumb_o1.jpg' %}" alt="" />
										<div class="caption">
											<h4>Lorem Ipsum Dolor Sit...</h4>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
											<p><a href="page-article.html" class="btn btn-default btn-sm" role="button">Read More</a></p>
										</div>
									</div>
								</div>

							</div>
							<!-- /More News -->

							<hr class="half-margins invisible" />

							<!-- More News -->
							<h4>Efectos tipo <strong>Rayados</strong> </h4>
							<div class="row">

								<div class="col-sm-4 col-md-4">
									<div class="thumbnail">
										<img class="img-responsive" src="{% static 'assets/images/demo/other/thumb_o4.jpg' %}" alt="" />
										<div class="caption">
											<h4>Lorem Ipsum Dolor Sit...</h4>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
											<p><a href="page-article.html" class="btn btn-default btn-sm" role="button">Read More</a></p>
										</div>
									</div>
								</div>

								<div class="col-sm-4 col-md-4">
									<div class="thumbnail">
										<img class="img-responsive" src="{% static 'assets/images/demo/other/thumb_o2.jpg' %}" alt="" />
										<div class="caption">
											<h4>Lorem Ipsum Dolor Sit...</h4>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
											<p><a href="page-article.html" class="btn btn-default btn-sm" role="button">Read More</a></p>
										</div>
									</div>
								</div>

							
								<div class="col-sm-4 col-md-4">
									<div class="thumbnail">
										<img class="img-responsive" src="{% static 'assets/images/demo/other/thumb_o1.jpg' %}" alt="" />
										<div class="caption">
											<h4>Lorem Ipsum Dolor Sit...</h4>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
											<p><a href="page-article.html" class="btn btn-default btn-sm" role="button">Read More</a></p>
										</div>
									</div>
								</div>

							</div>
							<!-- /More News -->

						</div>

						<div class="col-md-2">
						<br>
						<br>
							<a href="#" class="social fa fa-facebook"></a><br>
							<a href="#" class="social fa fa-twitter"></a><br>
							<a href="#" class="social fa fa-google-plus"></a></br>
						</div>
					</div>
				</div>
			</section>
			<!-- /POPULAR -->

{% endblock content %}