{% extends 'base_inicio.html' %}
{% block content %}
{% load staticfiles %}

			<!-- PAGE TOP -->
								<hr class="half-margins invisible" />
			<!-- /PAGE TOP -->



			<!-- CONTENT -->
			<section>
				<div class="container">

					<div class="row">

						<div class="col-md-11">

							<!-- Timeline -->
							<div class="timeline clearfix">
								<div class="timeline-centered clearfix">

									<div class="item pull-left"><!-- item -->
										<h3 class="timeline-centered-title"><a href="#">Lorem Ipsum Dolor</a></h3>
										<h4><b>2014</b></h4>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
									</div><!-- /item -->

									<div class="item pull-right"><!-- item -->
										<h3 class="timeline-centered-title"><a href="#">Lorem Ipsum Dolor</a></h3>
										<h4><b>2013</b></h4>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore dolore magnm aliquam quaerat voluptatem.</p>
										<div class="row">

											<div class="col-md-6">

												<h6 class="progress-head">Web Design <span class="pull-right">100%</span></h6>
												<div class="progress slim">
													<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
														<span class="sr-only">100% Complete (success)</span>
													</div>
												</div>

												<h6 class="progress-head">Mysql <span class="pull-right">88%</span></h6>
												<div class="progress slim">
													<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 88%">
														<span class="sr-only">88% Complete</span>
													</div>
												</div>
											
											</div>

											<div class="col-md-6">
											
												<h6 class="progress-head">PHP <span class="pull-right">60%</span></h6>
												<div class="progress slim">
													<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
														<span class="sr-only">60% Complete (success)</span>
													</div>
												</div>

												<h6 class="progress-head">Mysql <span class="pull-right">88%</span></h6>
												<div class="progress slim">
													<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 88%">
														<span class="sr-only">88% Complete</span>
													</div>
												</div>

											</div>

										</div>
									</div><!-- /item -->

									<div class="item pull-left"><!-- item -->
										<h3 class="timeline-centered-title"><a href="#">Lorem Ipsum Dolor</a></h3>
										<h4><b>2012</b></h4>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore dolore magnm aliquam quaerat voluptatem.</p>
									</div><!-- /item -->

									<div class="item pull-right"><!-- item -->
										<h3 class="timeline-centered-title"><a href="#">Lorem Ipsum Dolor</a></h3>
										<h4><b>2011</b></h4>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
										
										<div class="row">
										
											<div class="col-md-6 col-sm-6 col-xs-6">
												<img class="img-responsive" src="{% static 'assets/images/demo/other/o1.jpg' %}" alt="" />
											</div>

											<div class="col-md-6 col-sm-6 col-xs-6">
												<img class="img-responsive" src="{% static 'assets/images/demo/other/o2.jpg' %}" alt="" />
											</div>

										</div>

									</div><!-- /item -->

								</div>
							</div>
							<!-- /Timeline -->

								
							<div class="text-center"><!-- load more -->
								<a href="#" class="btn btn-default">LOAD MORE</a>
							</div>

						</div>

					</div>

				</div>
			</section>
			<!-- /CONTENT -->
{% endblock content %}