{% extends 'base_inicio.html' %}
{% block content %}
{% load staticfiles %}


	<!-- PAGE TOP -->
	<hr class="half-margins invisible" />
	<!-- /PAGE TOP -->



			<!-- CONTENT -->

			<!-- BORN TO BE A WINNER -->
			<section class="row">
				<div class="container">

					<div class="col-md-6">
						<div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
							<div>
								<img class="img-responsive" src="{% static 'assets/images/demo/about_1.jpg' %}" width="555" height="311" alt="">
							</div>
							<div>
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item" src="http://player.vimeo.com/video/23630702" width="800" height="450"></iframe>
								</div>
							</div>
							<div>
								<img class="img-responsive" src="{% static 'assets/images/demo/about_2.jpg' %}" width="555" height="311" alt="">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<h3>
							Somos una de las primeras cámaras de Flotación de América Latina 
						</h3>
						<p>Somos un equipo de jóvenes interesados en las nuevas tecnologías que nos ofrece el siglo XXI, bla bla bla.</p>
						<p>Somos aficionados a la neurociencia, la himnosis, los sueños lúcidos, el aguacate con arroz y los cactus</p>
						<p>Estamos ubicados en Tumbaco, nuestra cámara de flotación es chévere y tiene una fogata los viernes de noche. <a href="#">Contáctanos</a></p>
					</div>

				</div>
			</section>
			<!-- /BORN TO BE A WINNER -->



			<!-- WHO WE ARE and SKILLS -->
			<section class="row alternate">
				<div class="container">

					<div class="col-md-6">
						<h3>Nuestra <b>Historia</b></h3>
						<p>
							Después de viajar por el mundo probando cámaras de flotación ...
						</p>
					</div>

					<div class="col-md-6">
						<h3>Misión <b>&</b> Filosofía</h3>

						<div class="toogle">
							<div class="toggle active">
								<label>Nuestra Misión</label>
								<div class="toggle-content">
									<p>Creemos que todos deben tostar como se debe y dejar de creer tanta huevada</p>
								</div>
							</div>
							<div class="toggle">
								<label>Filosofía</label>
								<div class="toggle-content">
									<p>Si crees que el Estado te debe decir como peinarte, entonces eres un guagua guaaa guaaa, no puedes flotar</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</section >
			<!-- /WHO WE ARE and SKILLS -->


			<!-- counter -->
			<div class="row text-center countTo paddings styleBackgroundColor"><!-- add "styleBackgroundColor" class for colored background and white text OR "dark" for a dark callout -->
				
			</div>
			<!-- /counter -->


			<section class="container">

				<!-- CUSTOM CONTENT BOX -->
					<h3>Nuestro <strong>equipo</strong></h3>

					<div class="row">
						<div class="col-sm-3 col-md-3">
							<div class="box-content thumbnail text-center">
								<a href="page-about-me.html" class="item-image">
									<img class="img-responsive" src="{% static 'assets/images/demo/people/fixed-height/9.jpg' %}" alt="" />
									<h3>
										<span>Sebastián Veintimilla</span> <br />
										<small>Saruman</small>
									</h3>
								</a>
								<div class="caption text-left">
									<p>30 años de experiencia en magia negra y comunicación con las fuerzas oscuras de Dark Vader</p>
									<a href="#" class="social rounded fa fa-facebook"></a>
									<a href="#" class="social rounded fa fa-twitter"></a>
									<a href="#" class="social rounded fa fa-google-plus"></a>
								</div>
							</div>
						</div>

						<div class="col-sm-3 col-md-3">
							<div class="box-content thumbnail text-center">
								<a href="page-about-me.html" class="item-image">
									<img class="img-responsive" src="{% static 'assets/images/demo/people/fixed-height/10.jpg' %}" alt="" />
									<h3>
										<span>Ahra Stadler</span> <br />
										<small>Voz & Timbales</small>
									</h3>
								</a>
								<div class="caption text-left">
									<p>Taruren taruren taruren tarun tai</p>
									<a href="#" class="social rounded fa fa-facebook"></a>
									<a href="#" class="social rounded fa fa-twitter"></a>
									<a href="#" class="social rounded fa fa-google-plus"></a>
								</div>
							</div>
						</div>

						<div class="col-sm-3 col-md-3">
							<div class="box-content thumbnail text-center">
								<a href="page-about-me.html" class="item-image">
									<img class="img-responsive" src="{% static 'assets/images/demo/people/fixed-height/11.jpg' %}" alt="" />
									<h3>
										<span>Goetz</span> <br />
										<small>Hitman</small>
									</h3>
								</a>
								<div class="caption text-left">
									<p>Interesado en cualquier tipo de actividad criminal, especialmente robos de trenes antiguos</p>
									<a href="#" class="social rounded fa fa-facebook"></a>
									<a href="#" class="social rounded fa fa-twitter"></a>
									<a href="#" class="social rounded fa fa-google-plus"></a>
								</div>
							</div>
						</div>

						<div class="col-sm-3 col-md-3">
							<div class="box-content thumbnail text-center">
								<a href="page-about-me.html" class="item-image">
									<img class="img-responsive" src="{% static 'assets/images/demo/people/fixed-height/13.jpg' %}" alt="" />
									<h3>
										<span>El Viejo</span> <br />
										<small>Invisible</small>
									</h3>
								</a>
								<div class="caption text-left">
									<p>Viejo con barbas blancas que todavía no encontramos pero que es necesario para el marketing</p>
									<a href="#" class="social rounded fa fa-facebook"></a>
									<a href="#" class="social rounded fa fa-twitter"></a>
									<a href="#" class="social rounded fa fa-google-plus"></a>
								</div>
							</div>
						</div>

					</div>
				<!-- /CUSTOM CONTENT BOX -->
			</section>
			<!-- /CONTENT -->
{% endblock content %}