<!-- FOOTER -->
{% load staticfiles %}
<footer id="footer">
	<div class="copyright text-center">
			<strong><i class="fa fa-map-marker"></i> Address:</strong> Tumbaco (Quito), Ecuador
			<strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:02-237-6650">(02) 237-6650</a>
			<strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:ku.flotarium@gmail.com">ku.flotarium@gmail.com </a>
			&nbsp;			&nbsp;			&nbsp;
			<a href="#" class="social fa fa-facebook"></a>
			<a href="#" class="social fa fa-twitter"></a>
			<a href="#" class="social fa fa-google-plus"></a>
			<a href="#" class="social fa fa-linkedin"></a>
	</div>
</footer>
<!-- /FOOTER -->
